body {
	background-color:RGB(255, 238, 204);
 	font-family:Arial, Halventica , San-Serif;
 	color: black;
}
#wrapper { 
    width: 960px; 
    margin: 0 auto; 
} 
header h1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 	float: left; 
 	font-weight: bold;    
    font-size: 2em;  
	color: red;				
} 
#content{
	float:left;

	width: 960px;
	height: 00px;
	padding: 10px;
	padding-bottom:80px; 
	}
#content p{
    text-align: justify;
    font-size: 16px;
}
#content h1{
    font-family: Dauphin;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}
 #content h2{
    font-family: Dauphin;
    font-size: 30px;
    text-align: center;
    font-style: italic;
}
#info{
    float: left;
    vertical-align: baseline;
    width: 100%;
    height: 520px;
    margin:0px;
    padding: 0px;
}
#info p{
	width: 460px;
	font-size: 16px;
	text-align: justify;
	padding: 10px;
	margin: 5px;
}
#author{
    height: 440px;
    float: right;
    margin: 20px;
    width: 370px;
	border-radius: 100px;
}               