 body{
	margin: auto;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%; 
	font-family: Arial, Halventica, San-Serif; 
} 
 ul {
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;  
	}
header{
	text-align: left;
	margin: 2rem;
	padding-right: 78%;
	}
nav{
	position: absolute;
	width: 25%;
	float: left;
}
li a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 5% 5%;
	margin: 5% 0%;
	color: rgb(34, 16, 83);
	font-size: 1.7rem;
	background-color: rgba(235, 181, 137, 0.671);
	position: relative;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border-radius: 30px;
	z-index: 50;
	}
.underTheNavbar{
	padding: 0.1rem 0rem;
	}
li a:hover {
	background-color: #C19A6B;
    color: white;
    font-weight: bold; 
    position: relative;
	}  
img#logodown{
	top: 0;
	right: 0;
	position: fixed;
	padding: 20px;
	z-index: 55;
	border-radius: 50%;
	width:6%;
	opacity: 0.7;
	}
.infoAboutUs{
	color: rgb(34, 16, 83);
	text-align: center;
	width: 40%; 
	background-color: rgba(235, 181, 137, 0.671);
	border-radius: 15px;
	margin-left: 40% ;
	/**/
	float: left;
	margin-top: 2%;
	font-size: 1.2rem;
	align-content: right;
	padding:10px;
	}
.center {
	position: fixed;
	left: 0;
	font-size: 1.25px;
	}
.video iframe{  
	margin: 0 auto;
	border: 4px outset  rgb(34, 16, 83);
	padding: 1%;
	margin-left: 154%;
	margin-top: 88%;
	}
.loader{
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	}
.loader  > img{
	width: 300px;
	}
.loader.hidden{
	animation: fadeOut 1.5s;
	animation-fill-mode: forwards; 
	}
@keyframes fadeOut{
	100%{
		opacity: 0;
		visibility: hidden;
		}
	}